<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Calculator</title>
	</head>
	<body>
		<div id="app" class="container">
			<div class="calculator">
				<div class="calculator__inputs">
					<input id="calculator_input" type="text" class="calculator__inputs-input" v-model="inputs" readonly />
					<input id="calculator_output" type="text" class="calculator__inputs-output" v-model="output" readonly />
				</div>
				<div class="calculator__pad">
					<span class="calculator__pad-button" @click="addNumber(7)">7</span>
					<span class="calculator__pad-button" @click="addNumber(8)">8</span>
					<span class="calculator__pad-button" @click="addNumber(9)">9</span>
					<span class="calculator__pad-button" @click="addOperator('/')">/</span>
					<span class="calculator__pad-button" @click="addNumber(4)">4</span>
					<span class="calculator__pad-button" @click="addNumber(5)">5</span>
					<span class="calculator__pad-button" @click="addNumber(6)">6</span>
					<span class="calculator__pad-button" @click="addOperator('*')">*</span>
					<span class="calculator__pad-button" @click="addNumber(1)">1</span>
					<span class="calculator__pad-button" @click="addNumber(2)">2</span>
					<span class="calculator__pad-button" @click="addNumber(3)">3</span>
					<span class="calculator__pad-button" @click="addOperator('+')">+</span>
					<span class="calculator__pad-button" @click="clear()">C</span>
					<span class="calculator__pad-button" @click="addNumber(0)">0</span>
					<span class="calculator__pad-button" @click="result()">=</span>
					<span class="calculator__pad-button" @click="addOperator('-')">-</span>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>