<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Calculator</title>
	</head>
	<body>
		<div id="app" class="container">
			<div class="calculator">
				<div class="calculator__inputs">
					<input id="calculator_input" type="text" class="calculator__inputs-input" v-model="inputs" readonly />
					<input id="calculator_output" type="text" class="calculator__inputs-output" v-model="output" readonly />
				</div>
				<div class="calculator__pad">
					<span class="calculator__pad-button">7</span>
					<span class="calculator__pad-button">8</span>
					<span class="calculator__pad-button">9</span>
					<span class="calculator__pad-button">/</span>
					<span class="calculator__pad-button">4</span>
					<span class="calculator__pad-button">5</span>
					<span class="calculator__pad-button">6</span>
					<span class="calculator__pad-button">*</span>
					<span class="calculator__pad-button">1</span>
					<span class="calculator__pad-button">2</span>
					<span class="calculator__pad-button">3</span>
					<span class="calculator__pad-button">+</span>
					<span class="calculator__pad-button" >C</span>
					<span class="calculator__pad-button">0</span>
					<span class="calculator__pad-button" >=</span>
					<span class="calculator__pad-button">-</span>
				</div>
			</div>
		</div>
	</body>
</html>